body {
    width: 70%
    max-content: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    font-size: 62.5%;
    font-family: Gotham-Light;
    font-weight: 300px;
    
}

header,
main,
footer {
    background-color: rgb(255, 255, 255);
    font-size: 1.6em;
}

header {
    padding .875em 0;
    text-transform: uppercase;
}

header h1 {
    text-align: center;
}

h1, h2, h3 {
    margin: 10em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    text-transform: uppercase;
    font-family: GothamBold;
}
main h2 {
    padding 0.625em 0 0.625em 0.625em;
}

section {
	margin: 1.875em 0;
}

section:first-child {
	margin-top: 0;
}

section:last-child {
	margin-bottom: 0;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 0.75em;
}

p {
	padding: 1.25em;
}

figure {
	margin: 15em;
	padding: 15em;
	text-align: center;
}

figcaption {
	font-family: GothamBookItalic;
}

footer {
	text-align: center;
    padding: 3em;
    text-transform: uppercase;
}

footer p {
	display: inline-block;
}

img {
	width: 100%;
	max-width: 80%;
}

@media screen and (max-width: 680px) {
	nav ul li {
		margin: 1em 0;
		display: block;
		font-size: 1em;
	}
	body {
		font-size: 50%;
	}
}

@font-face {
    font-family: Gotham-Light;
    src: url('fonts/Gotham-Light.otf');
}

@font-face {
    font-family: GothamBold;
    src: url('fonts/GothamBold.ttf');
}

@font-face {
    font-family: GothanBookItalic;
    src: url('fonts/GothamBookItalic.ttf');

 }