body {
    width: 100%;
    max-content: 1000px;
    margin: 0;
    background-color: #ffffff;
    font-size: 95%;
    font-family: Gotham-Light;
    font-weight: 300px;
    
}

footer {
    width: 100%;
    background-color: rgba(221, 221, 221, 0.986);
    font-size: 1.6em;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    padding .4em 0;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    color: #24796c;
    font-size: 2.5em;
}

h1, h2, h3 {
    margin: 3em;
}

h2 {
    text-transform: uppercase;
    font-family: GothamBold;
    color: #154e45;
}

section {
	margin: 1.875em 0;
}

section:first-child {
	margin-top: 0;
}

section:last-child {
	margin-bottom: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(136, 184, 165);
}

nav ul li {
    text-transform: uppercase;
	float: center;
    font-size: 1.2em;
    text-align: center;
    border: 3px solid #ffffff;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(60, 211, 166);
}

.active {
    background-color:rgb(60, 211, 166);
}

p {
    margin: 4em;
    padding: 0.2em;
    text-align: center;
}


figure {
	margin: 2em;
	padding: 0.2em;
	text-align: center;
}

figcaption {
    font-style: italic;
    color: #949494;
}


footer p {
	display: inline-block;
}

img {
	width: 100%;
	max-width: 80%;
}

@media screen and (max-width: 680px) {
	nav ul li {
		margin: 1em 0;
		display: block;
		font-size: 1em;
	}
	body {
		font-size: 50%;
	}
}

@font-face {
    font-family: Gotham-Light;
    src: url('fonts/Gotham-Light.otf');
}

@font-face {
    font-family: GothamBold;
    src: url('fonts/GothamBold.ttf');
}
